{% extends "stories/single_frame_page.html" %}
{% load i18n %}
{% load comments %}
{% load markup%} 
  
{% block title %}    
    {% if form.errors %}
        {% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}
    {% else %}
        {% trans "Preview your comment" %}
    {% endif %} 
{% endblock %}

{% block content %}

    <div id="comment_source">
        <h2>Your comment</h2>
        {% include "comments/form.html"%}
    </div>
    {% if not form.errors %}
    <div id="comment_preview">
    <h2>Rendered preview</h2>
        {{ form.get_comment_object.comment|markdown }}
    </div>
    {% endif %} 
    <div id="comment_commands"></div>
{% endblock %}
