#story_editor {
    width:100%;
    text-indent:0px;
}

#story_editor label {
  font-weight:bold;
  font-size:large;
  padding-right: 10px;
}

#story_editor>div {
    padding-top:10px;
    padding-bottom:10px;
}

#id_title {
    width:50%;
}

#id_text {
    height:600px;
}

#id_description {
    width:99%;
    height:100px;
}

#id_published {
    height:2em;
    width:2em;
}

#story_editor ul { 
    padding:0; 
    margin:0; 
}

#story_editor ul li { 
    list-style-type:none; 
}

#story_editor ul li label{
  font-weight:normal;
  font-size:small;
}


