
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1E1E1E;
	background-image: url(/media/img/curtain.jpg); 
	background-repeat:no-repeat;
	background-position:center top;
	background-color: #000;
	border: thin none #000;
}
 
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #534616;
}

h1 {
	font-size: 2em;
}
 
h2 {
	font-size: 1.8em;
}
 
h3 {
	font-size: 1.6em;
}
 
h4 {
	font-size: 1em;
}
 
p, ul, ol {
	margin-top: 0;
	line-height: 110%;
}
 
ul, ol {
}
 
a {
	text-decoration: none;
	color: #3B9008;
}
 
a:hover {
}
 
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background-image: url(/media/img/refnorepeat.jpg);
	background-color: #3c0000; 
	background-repeat: no-repeat;
}

input[type="text"],input[type="password"]{
    border:1px solid black;
}

/* Header */

#header {
	width: 960px;
	height: 250px;
	margin: 0 auto;
}

/* Page structure */

#page {
	width: 960px;
	margin: 0px;
	padding: 0px;
}

#content {
	margin: 2px;
	padding: 2px;
}

.content_frame_with_side_bar
{
    width: 740px;
    float:left;
}

#sidebar
{
    float:right;
    width:190px;
}

.sidebar_frame
{
    float:right;
    width:190px;
}

/* Home page */
.home_column {
	padding: 0px;
	width: 379px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	float:left;
}

#refresh_random {
    cursor:pointer;
}

/* Section Headers */
.section, #content > .title {
	background: #1E1E1E url(/media/img/greenback.png) repeat left top;
	padding: 5px;
	margin: 5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:0px 0px 4px #04B404;
-webkit-box-shadow:0px 0px 4px #04B404;
-moz-box-shadow: 0px 0px 4px #04B404; 
}

.section .name , #content > .title{
	letter-spacing: -0.5px;
	color: #3BA20E; 
	text-shadow:0px 0px 30px #000000;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	
}
 
.section .name a {
	border: none;
	color: #3BA20E;

}


/* Story List */

.story , .content_frame ,.sidebar_frame, .paginator{
	background-color: #F6E3CE;
	padding: 4px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	box-shadow:0px 0px 4px #B45F04;
	-webkit-box-shadow:0px 0px 4px #B45F04;
	-moz-box-shadow: 0px 0px 4px #B45F04;

}

.story>.title, .content_frame h1.title,.sidebar_frame>h1{
	
	letter-spacing: -0.5px;
	background: #840403 url(/media/img/redback.jpg) repeat left top;
	background-color: #840403;
	color: #DF7401;
	text-shadow:0px 0px 20px #000000;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 10px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:0px 0px 20px #B45F04;
    -webkit-box-shadow:0px 0px 20px #B45F04;
    -moz-box-shadow: 0px 0px 20px #B45F04;
}
 
.story .title a {
	border: none;
	color: #DF7401;
}

.story .author {
	background-image: none;
	letter-spacing: -0.5px;
	color: #0B610B;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 10px;
	height:auto;
}
 
.story .author a {
	border: none;
	color: #0B610B;
}

.story p {
	padding-left: 10px;
}

.story .meta {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #000;
}
	
.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}

/* Errors*/

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(/admin_media/img/admin/icon_alert.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(/admin_media/img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.errorlist li a {
 	color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select {
    border: 1px solid red;
}

/* Comments */

#comment_source {
    width:45%;
    float:left;
}

#comment_preview {
    width:45%;
    float:right;
}

#comment_commands{
    clear:both;
}

#comment_form input[type="text"]
{
    width:100%;
}

/* Side bar*/

.sidebar_frame ul{
    list-style-type: none;
    padding-left: 0px;
    font-size: 14px;
    width:90%;
}

.sidebar_frame ul li{
    width:100%;
    margin-left: 10px;
    padding:2px;
}

.sidebar_wrapper {
    float:right;
    width:190px;
}

li.menu-item-contracted ul {
    display:none;
}

div.hidden {
    display:none; 
}

.expand-button {
    width:10px;
    height:10px;
    vertical-align:middle;
    background-position:center center;
    background-repeat: no-repeat;
    display:inline;
}

li.menu-item-expanded .expand-button {
    background-image:url(/media/img/expand.png);
}

li.menu-item-contracted .expand-button {
    background-image:url(/media/img/contract.png);
}

.menu-item-selected {
    display:block;
    width:100%;
}

.menu-item-selected, .menu-item-selected a {
    color: #DF7401;
}

/* Genre Pages*/
img.genre-image {
    margin:10px 10px;
    margin-top:20px;
    width:170px;
    height:170px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:0px 0px 20px #B45F04;
    -webkit-box-shadow:0px 0px 20px #B45F04;
    -moz-box-shadow: 0px 0px 20px #B45F04;
}
/* Footer */
 
#footer {
	margin: 0 auto;
	width:100%;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	clear:both;
	color: #F6E3CE;
}
 
#footer a {
	font-weight: bold;
	color: #F6E3CE;
}

/* Tables */
table {
    text-align:left;
}

th, td{
}

