
@font-face {
    font-family: 'ImperatorRegular';
    src: url('../fonts/imperator-webfont.eot');
    src: url('../fonts/imperator-webfont.eot?#iefix') format('eot'),
         url('../fonts/imperator-webfont.woff') format('woff'),
         url('../fonts/imperator-webfont.ttf') format('truetype'),
         url('../fonts/imperator-webfont.svg#webfontb0yi0Q2C') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('eot'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#webfont1l1oLWSU') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdItalic';
    src: url('../fonts/CartoGothicStd-Italic-webfont.eot');
    src: url('../fonts/CartoGothicStd-Italic-webfont.eot?#iefix') format('eot'),
         url('../fonts/CartoGothicStd-Italic-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Italic-webfont.svg#webfontwfIPNIfh') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0;
	padding: 0;
	font-family: 'CartoGothicStdBook', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #1E1E1E;
	background-image: url(/media/img/shortstories.jpg); 
	background-repeat:no-repeat;
	background-position:center top;
	background-color: #000;
	border: thin none #000;
}
 
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-family: 'ImperatorRegular', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #534616;
	text-indent:0px;
}

h1 {
	font-size: 24px;
	text-indent:5px;
}
 
h2 {
	font-size: 1.8em;
}
 
h3 {
	font-size: 1.6em;
}
 
h4 {
	font-size: 1em;
}
 
p, ol {
	text-indent:10px;
}
 
ul, ol {
}
 
a {
	text-decoration: none;
	color: #390;
}

a img {
  border: 0px solid black;
}

a:hover {
}
 
#wrapper {
	width: 960px;
	margin: 0 auto;
  padding: 0;
	/*background-image: url(/media/img/refnorepeat.jpg);*/

}

#flash {

	width: 1417px ;
	height: 270px ;
	position:absolute;
	left: 50%;
	top: 0px;
	margin-left: -708px ;
	
}
input[type="text"],input[type="password"]{
    border:1px solid black;
}

/* Header */

#header {
	width: 960px;
	height: 275px;
	margin: 0 auto;
	margin-bottom::0px;
}

/* Page structure */

#page {
	width: 960px;
	margin: 0px;
	padding: 0px;
}

#content {
	margin-top:0px;
	padding: 2px;
	font-size:14px;

}

.content_frame_with_side_bar
{
    width: 730px;
    float:left;
}

#sidebar 
{
    float:right;
    width:200px;
}

.sidebar_frame
{
    float:right;
    width:200px;
}

/* Home page */
.home_column {
	padding: 0px;
	width: 32.3%;
	margin-top: 0px;
	margin-right: 0.5%;
	margin-bottom: 2px;
	margin-left: 0.5%;
	float:left;
}

#refresh_random {
    cursor:pointer;
}

/* Section Headers */
.section, #content > .title {
	background-image: url(/media/img/greenback_clean.png);
	background-repeat:repeat-y;
	background-position: top left;
	/*
	background-image: url(/media/img/greenback2.png), url(/media/img/greenback.png);
	background-repeat:repeat-y, repeat;
	background-position: top left, center center;
	*/
	padding: 5px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin: 5px;
	margin-top: 0px;
	margin-bottom:0px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:1px 1px 10px #030;
	-webkit-box-shadow:1px 1px 10px #030;
	-moz-box-shadow: 1px 1px 10px #030;
	letter-spacing: -0.5px;
	color: #47CB07;
	text-shadow:1px 1px 2px #000000;
	border: thin outset  #3BA20E;
}
 
.section  a {
	border: none;
	color: #47CB07;
}

/* Story List */

.story , .content_frame ,.sidebar_frame, .paginator{
	background-color: #F6E3CE;
	padding: 4px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	box-shadow:0px 0px 4px #B45F04;
	-webkit-box-shadow:0px 0px 4px #B45F04;
	-moz-box-shadow: 0px 0px 4px #B45F04;
	border: thin outset #DF7401;
}

.paginator{
    text-align: center;
    font-weight:bold;
}

.story>.title, .content_frame h1.title,.sidebar_frame>h1{
	
	letter-spacing: -0.5px;
	/*background-image: url(/media/img/redback3.png), url(/media/img/redback2.png);
	background-repeat:repeat-y, repeat;
	background-position: top left, center center;*/
	background-image: url(/media/img/redback_clean.png);
	background-repeat:repeat-y;
	background-position: top left;
	color: #FF7B1A;
	text-shadow:1px 1px 2px #000000;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 3px;
	padding-left: 10px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow: 1px 1px 10px #B45F04;
    -webkit-box-shadow: 1px 1px 10px #B45F04;
    -moz-box-shadow: 1px 1px 10px #B45F04;
	border: thin outset #DF7401;
}
 
.story .title a {
	border: none;
	color: #FF7B1A;
}

.story .author {
	background-image: none;
/*	letter-spacing: -0.5px;*/
	color: #0B610B;
	padding-top: 5px;
	padding-right: 0;
/*	padding-bottom: 5px;*/
	padding-left: 10px;
	height:auto;
	margin-top: 3px;
	margin-bottom: 0px;
	font-family: "CartoGothicStdItalic", Arial, Helvetica, sans-serif;
}
 
.story .author a {
	border: none;
	color: #0B610B;

}

.story p {
	padding-left: 2px;
	margin-left: 5px;
	margin-right:5px;
	margin-top: 20;
	line-height: 110%;
	font-size:15px;
	line-height: 1.5em;
}

.story .meta {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: 'CartoGothicStdBook', Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #000;
}
	
.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}

/* Errors*/

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(/admin_media/img/admin/icon_alert.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(/admin_media/img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.errorlist li a {
 	color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select {
    border: 1px solid red;
}

/* read story */

div#story-text img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width:500px;
}

hr {
  border: thin outset #DF7401;
  clear:both;
}

hr.invisible{
  clear:both;
  border: 0px outset #DF7401;
}

.show-hide-fulltext-bar {
  cursor:pointer;
  font-weight:bold;
}

.show-hide-fulltext-bar img {
  height:1em;
}

div#story-action-box {
  float:right;
  border: thin outset #DF7401;
  background-color: #deb78c;
}

div.auth-box {
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  border: thin outset #DF7401;
  background-color: #deb78c;
}

div.auth-box table , div.auth-box div{
  margin-left:auto;
  margin-right:auto;
  width:300px;
}

div.auth-box div{
font-weight:bold;
text-align:center;
}

/* Side bar*/

.sidebar_frame ul{
    list-style-type: none;
    padding-left: 0px;
    font-size: 14px;
    width:90%;
}

.sidebar_frame ul li{
    width:100%;
    margin-left: 10px;
    padding:2px;
}

.sidebar_wrapper {
    float:right;
    width:220px;
}

li.menu-item-contracted ul {
    display:none;
}

div.hidden {
    display:none; 
}

.expand-contract-button {
    height:1em;
    width:1em;
    display:inline;
}

li.menu-item-expanded .expand-button {
    display:none;
}

li.menu-item-contracted .contract-button {
  display:none;
}

.menu-item-selected {
    display:block;
    width:100%;
}

.menu-item-selected, .menu-item-selected a {
    color: #DF7401;
}

/* Comments */

.action-wrapper{
  width:30%;
  float:right;
}

.action-wrapper h1, .action-wrapper h2, .action-wrapper h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.comment-wrapper{
  width:69%;
  float:left;
}

.comment-wrapper h1, .comment-wrapper h2, .comment-wrapper h3{
    font-family: Arial, Helvetica, sans-serif;
}

.comment-wrapper h3 {
    font-size:16px;
}


/* Genre Pages*/
img.genre-image {
    margin:10px 10px;
    margin-top:20px;
    width:170px;
    height:170px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:0px 0px 20px #B45F04;
    -webkit-box-shadow:0px 0px 20px #B45F04;
    -moz-box-shadow: 0px 0px 20px #B45F04;
}

/* Genre Pages*/
img.competition-image {
    margin:10px 10px;
    margin-top:0px;
    float:right;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:0px 0px 20px #B45F04;
    -webkit-box-shadow:0px 0px 20px #B45F04;
    -moz-box-shadow: 0px 0px 20px #B45F04;
}

.forced-break {
    clear:both;
}

/* Footer */
 
#footer {
	margin: 0 auto;
	width:100%;
	padding: 0px 0 15px 0;
	font-family: 'CartoGothicStdBook', Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	clear:both;
	color: #F6E3CE;
}
 
#footer a {
	font-weight: bold;
	color: #F6E3CE;
}

/* Tables */
table {
    text-align:left;
}

th, td{
}

