
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% block head %}
<head>
<script src="Scripts/swfobject_modified.js" type="text/javascript"></script>

    {%block style%}
    <link rel="stylesheet" href="/media/css/style.css"/>
    <link rel="stylesheet" href="/media/css/debug.css"/>   
    <link rel="stylesheet" href="/media/css/jquery.rating.css"/>    
    <link rel="stylesheet" href="/media/css/menu.css"/>    
    {%endblock%}
    
    {%block scripts%}
    <script type="text/javascript" src="/media/js/jquery.js"></script> 
    <script type="text/javascript" src="/media/js/swfobject_modified.js"></script>
    <script type="text/javascript" src="/media/js/jquery.MetaData.js"></script>
    <script type="text/javascript" src="/media/js/jquery.rating.js"></script>
    <script type="text/javascript" src="/media/js/menu.js"></script>
     
    {%endblock%}
    <meta name="google-site-verification" content="1clrmSsguiOB_I1JaYnHNo7vEqHcs7oAJRwa1bHr9wM" />
    <meta name="google-site-verification" content="_FS2D8TWC7frd2ioUk1qKdJR0zgnxqkdkNEcWEIAWWE" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/media/img/favicon.ico" />    
    <title>{%block pagetitle %}Shorty's Shebeen - Your South African Short Story Shebeen{% endblock %}</title>
	<META NAME="description" CONTENT="What's your story? Shorty's Shebeen is the new South African fiction portal, showcasing local and African short stories, specialising in genre fiction. Shorty's is all about developing local literature, so please share with stories with us." />
<META NAME="keywords" CONTENT="short stories, short story, south african short stories, south african short story, sa short story, sa short stories, rsa short stories, africa short story, south africa short story, south african fiction, sa fiction, south africa genre fiction, south africa horror, south africa crime, south africa sci-fi, south africa romance, south africa fantasy, crime fiction, horror fiction, sci-fi fiction, science fiction, fantasy fiction, crime, horror, sci-fi, fantasy, romance, literary fiction, local fiction, african fiction, genre literature, genre fiction, short story shebeen, shortys shebeen, short fiction, genre writing, south african writing " />
<META NAME="robots" content="index, follow" />
</head>
{% endblock %}
<body>

<div id="wrapper">

{% block body %}


<div id="header">
<div id="flash">
{% if user_agent_is_mac %}
<div>
    <object id="FlashID2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1418" height="270">
    <param name="movie" value="/media/flash/flame_effect4.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
       <object type="application/x-shockwave-flash" data="/media/flash/flame_effect4.swf" width="1418" height="270">
      <!--<![endif]-->
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="9.0.45.0" />
      <param name="expressinstall" value="Scripts/expressInstall.swf" />
     
      <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>
{% else %}
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1418" height="270" id="FlashID" title="Shorty's Short Story Shebeen">
  <param name="movie" value="/media/flash/flame_effect3.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="transparent" />
  <param name="swfversion" value="6.0.65.0" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/media/flash/flame_effect3.swf" width="1418" height="270">
    <!--<![endif]-->
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <param name="swfversion" value="6.0.65.0" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
    <img src="/media/img/shortstories2.jpg" alt=""/>
    </div>
    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
{% endif %}
</div>
</div>

<div id="menu-buffer" >
<div id="menu" >
<ul id="jsddm">
<li><a href="{% url home %}" class="menuheadlink">Story Central</a></li>
<li><a>Genres</a>
  <ul>
    {% for genre in genre_list %}
    <li><a href="{% url view_genre genre.id %}" >{{genre}}</a></li>
    {% endfor %}
   </ul>
</li>
<li><a href="{% url about %}" class="menuheadlink">About</a></li>
<li><a href="{% url story_archive %}" class="menuheadlink">Archives</a></li>
<li><a href="{% url competitions %}" class="menuheadlink">Competitions</a></li>

<!--
<li>
<span>
<form action = "{% url search %}" method="GET" id="search-form" style="display:inline;">
<input type="text" name="search"/>
<input type="submit" name="submit" value="Search"/>
</form>
</span>
</li>
--> 
</ul>

<ul id="user-info">
{% if user.is_anonymous %}
<li><a href="{% url auth_login %}">Login</a></li>
<li><a href="{% url registration_register %}">Register</a></li>
{% else %}
<li><a href="{% url author_dashboard %}">Dashboard</a></li>
<li><a href="{% url auth_logout %}?next=/">Logout</a></li>
{% endif %}
</ul>
</div>
</div>

<div id="content">
    {% block outer_content %}
    {% block content %}    
    {% endblock %}
    {% endblock %}
</div>
<div id="footer">Copyright 2011 Shortys Shebeen - All stories copyright of respective authors - Header Image  elements from the late <a href="http://en.wikipedia.org/wiki/Gerard_Sekoto">Gerard Sekoto's </a> <i> Family with Candle </i> (1940-1942)</div>
</div>
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->
</script>


{% if debug %}
{% else %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2959473-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

{% endblock %}
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID2");
//-->
</script>

</body>
</html>
