
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% block head %}
<head>

    {%block style%}
    <link rel="stylesheet" href="/media/css/style.css"/>
    <link rel="stylesheet" href="/media/css/debug.css"/>   
    <link rel="stylesheet" href="/media/css/jquery.rating.css"/>    
    <link rel="stylesheet" href="/media/css/menu.css"/>    
    {%endblock%}
    
    {%block scripts%}
    <script type="text/javascript" src="/media/js/jquery.js"></script> 
    <script type="text/javascript" src="/media/js/swfobject_modified.js"></script>
    <script type="text/javascript" src="/media/js/jquery.MetaData.js"></script>
    <script type="text/javascript" src="/media/js/jquery.rating.js"></script>
    <script type="text/javascript" src="/media/js/menu.js"></script>
    {%endblock%}
    <title>{%block pagetitle %}Shorty's Shebeen - South African Short Stories{% endblock %}</title>
</head>
{% endblock %}
<body>

<div id="wrapper">

{% block body %}
<div id="header">
<div id="flash">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1418" height="270" id="FlashID" title="Shorty's Short Story Shebeen">
  <param name="movie" value="/media/flash/flame_effect3.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="transparent" />
  <param name="swfversion" value="6.0.65.0" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/media/flash/flame_effect3.swf" width="1418" height="270">
    <!--<![endif]-->
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <param name="swfversion" value="6.0.65.0" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
    <img src="/media/img/shortstories2.jpg" alt=""/>
    </div>
    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
</div>
</div>

<div id="menu-buffer" >
<div id="menu" >
<ul id="jsddm">
<li><a href="{% url home %}" class="menuheadlink">Story Central</a></li>
<li><a>Genres</a>
  <ul>
    {% for genre in genre_list %}
    <li><a href="{% url view_genre genre.id %}" >{{genre}}</a></li>
    {% endfor %}
   </ul>
<li><a href="{% url about %}" class="menuheadlink">About</a></li>
<li><a href="{% url story_archive %}" class="menuheadlink">Archives</a></li>
<li><a href="{% url competitions %}" class="menuheadlink">Competitions</a></li>

<!--
<li>
<span>
<form action = "{% url search %}" method="GET" id="search-form" style="display:inline;">
<input type="text" name="search"/>
<input type="submit" name="submit" value="Search"/>
</form>
</span>
</li>
--> 
</ul>

<ul id="user-info">
{% if user.is_anonymous %}
<li><a href="{% url auth_login %}">Login</a></li>
<li><a href="{% url registration_register %}">Register</a></li>
{% else %}
<li><a href="{% url edit_profile %}">{{user}}</a></li>
<li><a href="{% url author_dashboard %}">Dashboard</a></li>
<li><a href="{% url auth_logout %}?next=/">Logout</a></li>
</ul>
{% endif %}
</div>
</div>

<div id="content">
    {% block outer_content %}
    {% block content %}    
    {% endblock %}
    {% endblock %}
</div>
<div id="footer">Copyright 2011 Shortys Shebeen - All stories copyright of respective authors - Header Image  elements from the late <a href="http://en.wikipedia.org/wiki/Gerard_Sekoto">Gerard Sekoto's </a> <i> Family with Candle </i> (1940-1942)</div>
</div>
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->
</script>
{% endblock %}
</body>
</html>
