<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" href="/media/css/under_construction.css"/>
    <script type="text/javascript" src="/media/js/jquery.js"></script> 
    <title>Shorty's Shebeen - South African Short Stories</title>
</head>

<body>

<table style="width:100%;height:100%;position:absolute;">
<tr><td></td></tr>
<tr>
  <td style="text-align:center;">
    <div id="wrapper">
      <div id="banner">
        <img src="/media/img/banner.png" alt=""/>
      </div>
    </div>
    <h1 id="Comming"> Comming Soon! </h1>
  </td>
</tr>
<tr>
  <td>

  </td>
</tr>
</table>
</body>
</html>
