{% extends "stories/single_frame_page.html" %}

{%block title%}Edit Profile{%endblock%}
{% block content %}


<form method="POST" action="{% url edit_profile %}">{% csrf_token %}
<table>
{{auth_details_form}}
<tr>
<th><label>Password:</label></th>
<td><a href = "{%url auth_password_change %}">change password</a></td>
</tr>
<tr>
<!--<th><label>Connect your facebook profile:</label></th>-->
<td></td>
</tr>
{{profile_form}}
</table>
<input type="submit" value="Save Information" />
</form>
{% endblock %}
