{% extends "base.html" %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
$(document).ready(
    function() {
    $('#refresh_random').click(
    function()
    {
        $("#random_story").fadeTo(400,0.0,
        function() {
            $("#random_story").load("{%url random_story %}",
            function() {
                $('#random_story input[type=radio].star').rating();
                $("#random_story").fadeTo(400,1);
            });
        });
    }
    );
}
);
</script>
{% endblock %}

{% block content %}
<div id="left" class="home_column">
  <h1 class="section"><a href="{%url story_archive %}?order=order_date">Latest</a></h1>
  {% with latest as story_list %}
  {% include "stories/story_list.html" %}
  {% endwith %}
         
</div>

<div id="middle" class="home_column">
  <h1 class="section"><a href="{%url story_archive %}?order=order_rating">Top Rated</a></h1>
  {% with top_rated as story_list %}
  {% include "stories/story_list.html" %}
  {% endwith %}
</div>

{% with "True" as do_short_preview %}

{% if random_story %}
<div id="sidebar">
<h1 class="section">Random Story<img id="refresh_random" src="/media/img/Refresh-icon.png" alt="" width="25" height="25" align="top" /></h1>
<div id="random_story">
  {% with random_story as story %}
  {% include "stories/story_preview.html" %}
  {% endwith %}
</div>
{% endif %}

{% if winner_story %}
<h1 class="section">Latest Winner </h1>
  {% with winner_story as story %}
  {% include "stories/story_preview.html" %}
  {% endwith %}

{% endif %}

{% if shortys_story %}
<h1 class="section"><a href="{% url view_author shortys_story.author.id%}">Shorty's R0.02</a></h1>
{% with shortys_story as story %}
{% include "stories/story_preview.html" %}
{% endwith %}

</div>
{% endif %}

{% endwith %}
{%endblock%}
