{% extends "base.html" %}

{% block content %}
<div id="page">
	
<div id="left">
  <div class="section">
  <h2 class="name"><a href="#">Latest</a></h2>
  </div>
  {% with latest as story_list %}
  {% include "stories/story_list.html" %}
  {% endwith %}
         
</div>

<div id="middle">
  <div class="section">
  <h2 class="name"><a href="#">Top Rated</a></h2>
  </div>
  {% with top_rated as story_list %}
  {% include "stories/story_list.html" %}
  {% endwith %}
</div>

{% with "True" as do_short_preview %}

<div id="sidebar">

<div class="section">
<h2 class="name"><a href="#">Random Story </a><img src="/media/img/Refresh-icon.png" alt="" width="25" height="25" align="top" /></h2>
</div>
<div id="random_story">
  {% with random_story as story %}
  {% include "stories/story_preview.html" %}
  {% endwith %}
</div>

<div class="section">
<h2 class="name">Shorty's 2 cents </h2>
</div>

  {% with shortys_story as story %}
  {% include "stories/story_preview.html" %}
  {% endwith %}
          
<div class="section">
<h2 class="name">November's Winner </h2>
</div>

  {% with winner_story as story %}
  {% include "stories/story_preview.html" %}
  {% endwith %}
                
</div>

{% endwith %}
{%endblock%}
