{% extends "base.html" %}

{% load comments %}
{% load rating_tags %}
{% load markup %}
{% block scripts%}
{{block.super}}
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
{% endblock%}


{% block content %}
<div class="story">
<h2 class="title"><a>{{object.title}}</a></h2>
<p class="author">by <a href="{% url view_author object.author.id%}">{{object.author}}</a></p>
<p>
{% for genre in object.genre.all %}
<a href="{% url view_genre genre.id %}">{{genre}}</a>{%if not forloop.last %}, {%endif%}
{% endfor %}
</p>

<div id="story-action-box">
<table>
<tr>
<td colspan="2" >
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4d8801b82194fb7d"></script>
<!-- AddThis Button END -->
</td>
</tr>
<tr>
<td>Overall Rating:</td>
<td>{% rating_star_form 5 story_rating "star" True %}</td>
</tr>

<tr>
<td>Your Rating:</td>
<td>{% rating_star_form 5 user_rating "your-rating" False %}</td>
</tr>

<tr>
<td colspan="2" ><a href="{% url download_story object.id%}"><img src="/media/img/pdficon_small.gif" alt="PDF"/> Download PDF</a></td>
</tr>

{% ifequal user object.author %}
<tr>
<td colspan="2">
<a href="{% url edit_story object.id %}">Edit</a>
</td>
</tr>
{% endifequal %}
</table>
</div>

<div id="story-preview">
{{object.first_paragraph|markdown}}

<script type="text/javascript">

function show_story()
{
    $('#story-preview').addClass('hidden')   
    $('#story-text').removeClass('hidden')
}

function hide_story()
{
    $('#story-preview').removeClass('hidden')   
    $('#story-text').addClass('hidden')
}

$(function(){
    $('#show-fulltext-bar').click(show_story)
    $('#hide-fulltext-bar').click(hide_story)
    })

</script>

<div id="show-fulltext-bar" class="show-hide-fulltext-bar">
Read More <img id="btn-show-story" src="/media/img/expand.png" alt="Show Story"/>
</div>
</div>

<div id="story-text" class="hidden">
{{object.text|markdown}}
<div id="hide-fulltext-bar" class="show-hide-fulltext-bar">
Hide Story <img id="btn-hide-story" src="/media/img/contract.png" alt="Hide Story"/>
</div>
</div>
<hr/>

<script type="text/javascript">
$(function(){
    $('input.your-rating').rating({
        callback: function(value, link){
            $.ajax({type:"GET",
                url:"{% url rate_story object.id %}",
                data:"rating="+value,
                success:function(){}
                })
        }
     });
});    
</script>

{% load disqus_tags %}
{% disqus_dev %}
{% set_disqus_identifier object.id %}
{% set_disqus_title object.title %}
{% set_disqus_url object.get_absolute_url %}
{% disqus_show_comments %}

{% endblock %}
