{% load markup %}
{% load rating_tags %}

<div class="story">
<h2 class="title" ><a  href="{% url read_story story.id %}">{{story.title}}</a></h2>
<h4 class="author"> by <a href="{% url view_author story.author.id %}">{{story.author}}</a></h4>
<div>

</div>
<div class="mini-markdown mini-markdown-padding">
{%if do_short_preview%}
{{story.short_preview|markdown:"autobr,safe"|linebreaksbr}}
{%else%}
{{story.preview|markdown:"autobr,safe"|linebreaksbr}}
{%endif%}
</div>

<div class="meta">
<div>
{% for genre in story.genre.all %}
<a href="{% url view_genre genre.id %}">{{genre}}</a>{%if not forloop.last %}, {%endif%}
{% endfor %}
</div>
<div>
{% rating_star_form 5 story.rating.get_rating "star" True %}
</div>

<div style="clear:both">
{{story.date_published}}
(<a href="{{ story.get_absolute_url }}#disqus_thread" data-disqus-identifier="shortys-shebeen-{{ story.id }}">View Comments</a>)
{% load disqus_tags %}
{% disqus_num_replies %}
</div>

</div>

</div>


