{% load markup %}
{% load archive_tags %}
{% load rating_tags %}

{% for story in story_list %}
<div class="story">
<h2 class="title" ><a  href="{% url read_story story.id %}">{{story.title}}</a></h2>
<h4 class="author"> by <a href="{% url view_author story.author.id %}">{{story.author}}</a></h4>

<div>

<table><tr>
<td>{{story.genres}}</td>
<td>|{{story.date_published}}|</td>
<td>{% rating_star_form 5 story.rating.get_rating "star" True %}</td> 
{%ifequal story.author user%}<td>|<a href="{% url edit_story story.id%}">Edit</a></td>{%endifequal%} 
</tr></table>

</div>
<div>{{story.preview|markdown}}</div>
</div>
{% endfor %}


{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{% url story_archive%}{% query_string 'page=page_obj.previous_page_number' 'page'%}">&lt;&lt;</a>
    {% endif %}
Page {{page_obj.number}} of {{paginator.num_pages}} 
    {% if page_obj.has_next %}
        <a href="{% url story_archive%}{% query_string 'page=page_obj.next_page_number' 'page'%}">&gt;&gt;</a>
    {% endif %}
{% endif %}
