{% extends "stories/story_archive.html" %}
{% load markup %}

{% block title%}
{{author_obj}}
{%endblock%}

{%block info_frame%}
<div id="sidebar" class = "sidebar_frame">
<h1 class="name">Author Profile</h1>
<ul>
<li class="mini-markdown">
{{author_obj.get_profile.about|markdown:"safe"}}
</li>
{% if author_obj.get_profile.blog %}
<li>
  <a href="{{author_obj.get_profile.blog}}"><img src="/media/img/link.png" alt="link"/> Blog</a>
</li>
{% endif %} 

{% if author_obj.get_profile.website %}
<li>
  <a href="{{author_obj.get_profile.website}}"><img src="/media/img/link.png" alt="link"/> Website</a>
</li>
{% endif %} 

{% ifequal author_obj user %}
<li>
  <a href="{%url edit_profile %}"><img src="/media/img/profile.png" alt="link"/>  Edit Profile</a>
</li>
{% endifequal %} 

</ul>

</div>
{%endblock%}
