{% extends "stories/story_archive.html" %}
{%load markup %}

{% block style %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{{genre_obj.name}} stories at Shorty's Shebeen" 
href="{%url genre_feed genre_obj.id %}"/>
{% endblock %}

{% block title%}
{{genre_obj}}
{%endblock%}

{%block info_frame%}
<div id="sidebar" class = "sidebar_frame">
<h1 class="name">{{genre_obj.name}}</h1>
{% if genre_obj.image %}
<img class="genre-image" src="/media/{{genre_obj.image}}" alt="{{genre_obj.name}}" />
{% endif %}
{% if genre_obj.description %}
{{genre_obj.description|markdown:"autobr,safe"}}
{% endif %}
<div>


<a href="{%url genre_feed genre_obj.id %}"><img src="/media/img/rss.png" alt="rss" /> Subscribe to {{genre_obj.name}} stories</a>
</div>
</div>
{%endblock%}
